nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#1976d2;
padding:15px;
}

nav h2{
color:white;
margin:0;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}
